.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
    padding-bottom: 20px; /* Decrease the padding after the footer */
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4rem;
}
.new{
    /* margin-top: 4rem; */
    height: 200px;
    width: 2500px;
}

.img {
    max-width: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.exp-heading {
    text-align: center;
    margin-bottom: 4rem; /* Increase space between heading and accordion */
}

.exp-heading p {
    margin-top: 2rem;
}

.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4rem; /* Increase space between accordion and footer */
}
